* {
    font-family: 'Roboto', sans-serif;
}
a  {
    text-decoration: none;
}
header {
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
nav {
    height: 50px;
    background-color: #212121;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    /* По умолчанию у списка стоит */
    /* list-style-type: disc; */
    list-style-type: none;
    
}

.menu .menu_item .menu_link {

    color: white;
    font-size: 15px;
    font-weight: 300;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    /* position: absolute; */
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
    /* Прозрачность меняется у блока и всех дочерних эл-ов */
    /* opacity: 0.6; */
    padding-block: 14px;
}

.subheader .subheader_logo {
    width: 100%
}

.subheader .subheader_official {
    margin-top: 6px;
    color: white;
    font-size: 13px;
    font-weight: 300;
    opacity: 0.5;
}
.subheader .subheader_call {
    margin-top: 6px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 11px;
    font-weight: 400;
    font-size: 22px;
    /* identical to box height, or 309% */
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    width: 100%;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px o rgba(0,0,0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px rgba(0,0,0, 0.21);
    color: #FFFFFF;   
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 714px;
    background: url(../img/uber_bg.png) center center/cover no-repeat;
    padding: 50px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 57px;
    text-align: center;
}
.promo .promo_subheader {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;   
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -3px o rgba(0,0,0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px rgba(0,0,0, 0.21);
    color: #FFFFFF;   
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); 
}

.benefits {
    min-height: 850px;
    background-color: #fff;
}
.benefits .benefits_text {
    width: 113px;
    height: 24px;

    margin-top: 20px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    
    border: none;
    background-color: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.benefits .benefits_text2 { 
    margin-top: 40px;
    margin-inline: auto;

    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.benefits .benefits_item {
    margin-top: 23px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}


.benefits .benefits_item .benefits_item_circle {
    margin-right: 26px;
    margin-left: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 116px;
    height: 116px;
    background-color: #1EACC7;
    border-radius: 100%;
}
.benefits .benefits_item .benefits_item_descr .descr_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
    width: 371px;
    height: auto;
}
.benefits .benefits_item .benefits_item_descr .descr_subtext {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
    width: 371px;
    height: auto;
}




